body{
    height: 100vh;
}
header{
    height: 10%;
    width: 100vw;
    background-color: white;
    border-bottom:cadetblue 2px solid;
    position: fixed;
    z-index: 99;
}
.top{
    margin-left: 12%;
    margin-right: 12%;
    height: 100%;
    display: flex;   
    box-sizing: border-box;
    justify-content: space-between;
    

}
a{
    text-decoration: none;
    padding-top: 2%;
    display: inline;
    height: 100%;
    text-align: center;
    width: 20%;
    box-sizing: border-box;
    font-size: 20px;
}
ol li{
    display: inline;
    padding-left: 7%;
    
}
ol{    
    padding-top: 2%;
    height: 100%;
    text-align: center;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}
ol li::before {
    content:salam
}
/* middle section begins */
.middle{
    padding-bottom: 8%;
    padding-top: 3%;
    display: flex;
    height: 180%;
    justify-content: space-evenly;
    background-image:url(./assets/images/concrete_seamless.png) ;
}
.section{
    height: 70%;
    width: 50%;
    background-color: white;
    margin-top: 4%;
    margin-left:4%;    
    display: block;
    box-sizing: border-box;
}
aside{
    margin-top: 4%;
    margin-right: 2%;
    height: 13%;
    width: 20%;
    background-color: white;
    margin-left: 10px;
}
h1{
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    margin: 8% 8% 4% 6%;
    padding-bottom: 6%;
}
h1,h2{
font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;}

.pictures{
    
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin: 0% 8% 4% 6%;
    
}
.pictures1,.pictures2,.pictures3,.pictures4,.pictures5{
    height: 206px;
    width: 274px;
    text-align: center;
    opacity: 0.8;
    margin: 0 6% 0 0;
}
.pictures1{
    background-size: cover;
    background-image: url(./assets/images/technics-q-c-640-480-1.jpg);
}
.pictures2{
    
   
    background-image: url(./assets/images/technics-q-c-640-480-2.jpg);
}
.pictures3{
    
    background-image: url(./assets/images/technics-q-c-640-480-5.jpg);
} 
.pictures4{
    
    background-image: url(./assets/images/technics-q-c-640-480-7.jpg);
} 
.pictures5{
    
    background-image: url(./assets/images/technics-q-c-640-480-9.jpg);
} 
footer {
    box-sizing: border-box;
    display: block;
    height: 21%;
    text-align: center;
    background-color: #666;
    padding-top: 4%;
    border-top: #4aaaa5 11px solid;
}
.label1,.label2,.label3,.label4,.label5{
    text-align: center;
    font-size: 23px;
    color: white;
    padding-top: 1%;
    margin-top: 10.3%;
    width: 20.3%;
    height: 6%;
    background-color: cadetblue;
    position: absolute;
}
h2{
    margin: 8% 8% 4% 6%;
    padding-bottom: 6%;
    border-bottom: 4px solid bisque;
}
.aside{
    height: 50%;
    width: 88%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0% 6% 0% 6%;
}
.pictures6,.pictures7,.pictures8{
    opacity: 0.8;
    height: 62px;
    width: 62px;
    background-size: cover; 
}
.pictures6{
    background-image: url(./assets/images/github-128.png);
}
.pictures7{
    background-image: url(./assets/images/linkedin-128.png);

}
.pictures8{
    background-image: url(./assets/images/stackoverflow-128.png);
}
.first{
    font-size: 23px;
    color: white;
    padding-top: 2%;
    width: 20.3%;
    height: 100%;
    text-decoration: none;
    background-color: cadetblue;
}
